USE [master]
GO
/****** Object:  Database [JoueurNBA]    Script Date: 11/05/2026 11:03:09 ******/
CREATE DATABASE [JoueurNBA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JoueurNBA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\JoueurNBA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JoueurNBA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\JoueurNBA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JoueurNBA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JoueurNBA]
GO
/****** Object:  Table [dbo].[joueurs_nba]    Script Date: 11/05/2026 11:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[joueurs_nba](
	[Name] [nvarchar](50) NULL,
	[Team] [nvarchar](50) NULL,
	[Number] [tinyint] NULL,
	[Position] [nvarchar](50) NULL,
	[Age] [tinyint] NULL,
	[Height] [tinyint] NULL,
	[Weight] [tinyint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[joueurs_nba] ([Name], [Team], [Number], [Position], [Age], [Height], [Weight]) VALUES (N'Steven Adams', N'Houston Rockets', 12, N'C', 32, 211, 120)
INSERT [dbo].[joueurs_nba] ([Name], [Team], [Number], [Position], [Age], [Height], [Weight]) VALUES (N'Bam Adebayo', N'Miami Heat', 13, N'C', 28, 206, 116)
INSERT [dbo].[joueurs_nba] ([Name], [Team], [Number], [Position], [Age], [Height], [Weight]) VALUES (N'Ochai Agbaji', N'Toronto Raptors', 30, N'SF', 25, 196, 98)
GO
USE [master]
GO
