USE [master]
GO
/****** Object:  Database [Gestion_de_note_annuelles]    Script Date: 11/05/2026 11:01:50 ******/
CREATE DATABASE [Gestion_de_note_annuelles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestion_de_note_annuelles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Gestion_de_note_annuelles.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestion_de_note_annuelles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Gestion_de_note_annuelles_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestion_de_note_annuelles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestion_de_note_annuelles]
GO
/****** Object:  Table [dbo].[EVALUER]    Script Date: 11/05/2026 11:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVALUER](
	[NEtudiant] [int] NOT NULL,
	[Code_Mat] [int] NOT NULL,
	[Date_evalu] [date] NOT NULL,
	[Note] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[NEtudiant] ASC,
	[Code_Mat] ASC,
	[Date_evalu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MGETU]    Script Date: 11/05/2026 11:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MGETU] AS
SELECT NEtudiant, Code_Mat, AVG(Note) AS Moyenne
FROM EVALUER
GROUP BY NEtudiant, Code_Mat;
GO
/****** Object:  View [dbo].[MOYETUMAT]    Script Date: 11/05/2026 11:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MOYETUMAT] AS
SELECT Code_Mat, AVG(Moyenne) AS MoyenneMat
FROM MGETU
GROUP BY Code_Mat;
GO
/****** Object:  View [dbo].[MG_ETU_GEN]    Script Date: 11/05/2026 11:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MG_ETU_GEN] AS
SELECT NEtudiant, AVG(Moyenne) AS MoyenneGenerale
FROM MGETU
GROUP BY NEtudiant;
GO
/****** Object:  Table [dbo].[ETUDIANTS]    Script Date: 11/05/2026 11:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETUDIANTS](
	[NEtudiant] [int] NOT NULL,
	[Nom] [varchar](50) NULL,
	[Prenom] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NEtudiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATIERE]    Script Date: 11/05/2026 11:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATIERE](
	[Code_Mat] [int] NOT NULL,
	[LibelleMat] [varchar](50) NULL,
	[Coeff_Mat] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Code_Mat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOL]    Script Date: 11/05/2026 11:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOL](
	[NUMVOL] [int] NOT NULL,
	[NUMPIL] [int] NULL,
	[NUMAV] [int] NULL,
	[VILLE_DEP] [varchar](50) NULL,
	[VILLE_ARR] [varchar](50) NULL,
	[H_DEP] [time](7) NULL,
	[H_ARR] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMVOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ETUDIANTS] ([NEtudiant], [Nom], [Prenom]) VALUES (1, N'RAZAFINDRAIBE', N'Soaniavo')
INSERT [dbo].[ETUDIANTS] ([NEtudiant], [Nom], [Prenom]) VALUES (2, N'RABENATANT', N'Safidy')
INSERT [dbo].[ETUDIANTS] ([NEtudiant], [Nom], [Prenom]) VALUES (3, N'RAKOTOBE', N'Fitia')
GO
INSERT [dbo].[EVALUER] ([NEtudiant], [Code_Mat], [Date_evalu], [Note]) VALUES (1, 102, CAST(N'2023-03-21' AS Date), 15.5)
INSERT [dbo].[EVALUER] ([NEtudiant], [Code_Mat], [Date_evalu], [Note]) VALUES (2, 104, CAST(N'2016-04-23' AS Date), 11.5)
INSERT [dbo].[EVALUER] ([NEtudiant], [Code_Mat], [Date_evalu], [Note]) VALUES (3, 106, CAST(N'2015-01-14' AS Date), 13.8)
GO
INSERT [dbo].[MATIERE] ([Code_Mat], [LibelleMat], [Coeff_Mat]) VALUES (101, N'MALG', 4)
INSERT [dbo].[MATIERE] ([Code_Mat], [LibelleMat], [Coeff_Mat]) VALUES (102, N'MATH', 6)
INSERT [dbo].[MATIERE] ([Code_Mat], [LibelleMat], [Coeff_Mat]) VALUES (103, N'PHILO', 4)
GO
ALTER TABLE [dbo].[EVALUER]  WITH CHECK ADD FOREIGN KEY([Code_Mat])
REFERENCES [dbo].[MATIERE] ([Code_Mat])
GO
ALTER TABLE [dbo].[EVALUER]  WITH CHECK ADD FOREIGN KEY([NEtudiant])
REFERENCES [dbo].[ETUDIANTS] ([NEtudiant])
GO
ALTER TABLE [dbo].[EVALUER]  WITH CHECK ADD  CONSTRAINT [FK_Etudiant] FOREIGN KEY([NEtudiant])
REFERENCES [dbo].[ETUDIANTS] ([NEtudiant])
GO
ALTER TABLE [dbo].[EVALUER] CHECK CONSTRAINT [FK_Etudiant]
GO
ALTER TABLE [dbo].[EVALUER]  WITH CHECK ADD  CONSTRAINT [FK_Matiere] FOREIGN KEY([Code_Mat])
REFERENCES [dbo].[MATIERE] ([Code_Mat])
GO
ALTER TABLE [dbo].[EVALUER] CHECK CONSTRAINT [FK_Matiere]
GO
USE [master]
GO
