USE [master]
GO
/****** Object:  Database [Prixnobel]    Script Date: 11/05/2026 11:04:13 ******/
CREATE DATABASE [Prixnobel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prixnobel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Prixnobel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prixnobel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Prixnobel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prixnobel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prixnobel]
GO
/****** Object:  Table [dbo].[nobel]    Script Date: 11/05/2026 11:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nobel](
	[Id] [nvarchar](50) NULL,
	[Year] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[Prize] [nvarchar](max) NULL,
	[Motivation] [nvarchar](350) NULL,
	[PrizeShare] [nvarchar](50) NULL,
	[LaureateID] [nvarchar](50) NULL,
	[LaureateType] [nvarchar](50) NULL,
	[FullName] [nvarchar](100) NULL,
	[BirthDate] [nvarchar](50) NULL,
	[BirthCity] [nvarchar](50) NULL,
	[BirthCountry] [nvarchar](50) NULL,
	[Sex] [nvarchar](50) NULL,
	[OrganizationName] [nvarchar](150) NULL,
	[OrganizationCity] [nvarchar](50) NULL,
	[OrganizationCountry] [nvarchar](50) NULL,
	[DeathDate] [nvarchar](50) NULL,
	[DeathCity] [nvarchar](50) NULL,
	[DeathCountry] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
